@model IEnumerable<AndreAirlineApi2.Model.Aeroporto>

@{
  ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Sigla)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Nome)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.LoginUser)
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Sigla)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.LoginUser)
        </td>
      </tr>
    }
  </tbody>
</table>